{
	"root": true,
	"extends": ["airbnb", "airbnb/hooks", "prettier", "plugin:sonarjs/recommended", "plugin:jest/recommended"],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"plugins": ["prettier", "react", "react-hooks", "sonarjs", "jest"],
	"rules": {
		"prettier/prettier": ["off"],
		"linebreak-style": ["off"],
		"indent": ["off"],
		"react/jsx-indent": ["warn", "tab"],
		"react/jsx-indent-props": ["warn", "tab"],
		"no-return-assign": ["error", "except-parens"],
		"no-unused-expressions": "error",
		"no-unused-vars": ["error", { "ignoreRestSiblings": false }],
		"block-scoped-var": "error",
		"import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
		"react/jsx-wrap-multilines": ["error", { "prop": false }],
		"no-magic-numbers": ["error", { "ignore": [-100, -1, 0, 1, 2, 10, 100, 1000], "enforceConst": true }],
		"no-use-before-define": ["error", { "functions": false, "classes": true, "variables": true }],
		"no-warning-comments": ["error", { "terms": ["todo", "fixme"], "location": "anywhere" }],
		"sonarjs/no-duplicate-string": ["error", 5],
		"curly": ["error", "all"],
		"max-statements-per-line": ["error", { "max": 1 }],
		"no-extra-semi": "warn",
		"jest/no-disabled-tests": "warn",
		"prefer-const": "warn",
		"no-console": "warn",
		"no-loop-func": "warn",
		"no-param-reassign": "warn",
		"max-depth": ["warn", 4],
		"max-lines": ["warn", { "max": 1200, "skipBlankLines": true, "skipComments": true }],
		"max-lines-per-function": ["warn", { "max": 150, "skipBlankLines": true, "skipComments": true }],
		"react/jsx-closing-bracket-location": [1, { "nonEmpty": "after-props" }],
		"react/destructuring-assignment": [0, "never", { "ignoreClassFields": true }],
		"sonarjs/cognitive-complexity": "off",
		"no-plusplus": "off",
		"react/jsx-curly-newline": "off",
		"react/jsx-one-expression-per-line": "off",
		"new-cap": "off",
		"func-names": "off",
		"react/prop-types": "off",
		"no-continue": "off",
		"no-underscore-dangle": "off",
		"react/jsx-props-no-spreading": ["off", { "html": "ignore", "explicitSpread": "ignore" }], // eslint does not support our specific use-case - 20.02.2020
		"react/require-default-props": "off" // eslint does not support defining default props in destructured function parameters - 3.12.2019
	},
	"overrides": [
		{
			"files": ["*.jsx", "*.test.js", "*.test.ts", "*.test.jsx", "*.spec.js", "*.spec.jsx"],
			"rules": {
				"max-lines-per-function": "off"
			}
		},
		{
			"files": ["*.test.js", "*.test.ts", "*.test.jsx", "*.spec.js", "*.spec.jsx"],
			"rules": {
				"no-magic-numbers": "off",
				"max-lines": "off"
			}
		}
	],
	"settings": {
		"react": {
			"pragma": "React",
			"version": "16.2"
		}
	},
	"env": {
		"es6": true,
		"node": true,
		"jest": true,
		"browser": true
	}
}
